body {
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom:0px;
	font-family: Quicksand;
	font-weight: 300;

}
table.center {
    margin-left: auto; 
    margin-right: auto;
}
.a {
    font-size: 15px;
}

.header {
	text-align: right;
	font-size: 125%;
	display: inline-block;
	min-width: 1060px;
	width: 100%;
	
	height: 500px;
	top: 0;
	z-index: 1;
    background-image: url("../images/Activities.jpg");
    background-size: cover;
    background-position: center;
}

.logo {
	color: black;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70%;
	background-color: #f4f5f5;
	margin-left: 3%;
	height: 153px;
	width: 150px;
	float: left;
	
}

.menu-list {
	list-style-type: none;
	padding-top: 53px;
	height: 100px;
	padding-right: 20px;
	
}

.menu-item {
	display: inline;
	padding-left: 2.5%;
	padding-right: 2.5%;
	
}

.menu-item:hover, .menu-item-current:hover {
	display: inline;
	padding-left: 2.5%;
	padding-right: 2.5%;
	background-color: #f4f5f5;
	opacity: 1;
	padding-top: 73px;
	padding-bottom: 55px;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
}

.menu-item-current {
	display: inline;
	padding-left: 2.5%;
	padding-right: 2.5%;
	padding-top: 73px;
	padding-bottom: 55px;
	background-color: #f4f5f5;
	opacity: 0.75;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
}

.menu-link:link, .menu-link:visited {
	text-decoration: none;
	color: #f4f5f5;
	padding-top: 73px;
	padding-bottom: 75px;
	
}

.menu-link-current:link, .menu-link-current:visited {
	text-decoration: none;
	color: black;
}

.menu-link:hover {
	color: black;
}

.menu-link:active, .menu-link-current:active {
	color: red;
}


h1.page-heading {
	color: #f4f5f5;
	text-align: center;
}

h2 {
	color: #000000;
	text-align: left;
	font-size: 40px;

}
p.ex {
   font-size: 20px;

}


hr.heading-line {
	width: 80%;
	border: 1.5px solid #f4f5f5;
}

.newline {
    background-color: #e0e5eb;
}


hr.new1 {
    border: 3px solid black;
 
}

hr.new2 {
   border: 1px dotted black;
 
}
.footer {
	
	width: 100%;
}



.footer-info {
	background-color: #f4f5f5;
	margin-top: 0px;
	margin-bottom: -16px;
	display: grid;
	grid-template-columns: auto auto auto;
	width: 100%;
}

.footer-contact {
	display: grid;
	grid-template-columns: auto auto;
}

.icon {
	text-align: right;
	padding-right: 25px;
}

.footer-list {
	list-style-type: none;
	display: inline-grid;
}

.footer-link:link, .footer-link:visited {
	text-decoration: none;
	color: black;
}

.footer-link:hover {
	text-decoration: underline;
	color: black;
}

.footer-link:active {
	color: red;
}

.footer-copy {
	text-align: center;
	font-size: 75%;
	margin-top: 15px;
	color: #f4f5f5;
	background-color: #00000075;
}
* {
  box-sizing: border-box;
}

.box {
  float: left;
  width: 50%;
  height: 500px;
  margin-left: 125px;
  margin-top: 100px;
  margin-bottom: 100px;
  background-image: url("../images/tennis.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.box2 {
  float: left;
  width: 30%;
  margin-top: 100px;
  height: 500px;
  padding: 20px;
  background-color: #e0e5eb;
  margin-bottom: 100px;
}
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
  background-color: #e0e5eb;
}


.box3 {
  margin-left: 125px;
  float: left;
  width: 30%;
  height: 500px;
  padding: 20px;
  background-color: #FCF5C9;
  margin-bottom: 100px;
  
}
.box4 {
  
  float: left;
  width: 50%;
  height: 500px;
  margin-bottom: 100px;
  background-image: url("../images/Beach Volleyball.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.box5 {
  float: left;
  width: 50%;
  height: 500px;
  margin-left: 125px;
  margin-bottom: 100px;
  background-image: url("../images/Diving.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.box6 {
  float: left;
  width: 30%;
  height: 500px;
  padding: 20px;
  background-color: #C6E0FD;
  margin-bottom: 100px;
}
.box7 {
  margin-left: 125px;
  float: left;
  width: 30%;
  height: 500px;
  padding: 20px;
  background-color: #D7F2C7;
  margin-bottom: 100px;
  
}
.box8 {
  
  float: left;
  width: 50%;
  height: 500px;
  margin-bottom: 100px;
  background-image: url("../images/safari.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
 }
 .box9 {
  float: left;
  width: 50%;
  height: 500px;
  margin-left: 125px;
  margin-bottom: 100px;
  background-image: url("../images/yoga.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.box10 {
  float: left;
  width: 30%;
  height: 500px;
  padding: 20px;
  background-color: #C0C0C0;
  margin-bottom: 100px;
} 
.slogan {
	width: 100%;
	text-align: center;
	color: #f4f5f5;
	font-size: 400%;
	display: inline-block;
    margin-top: 80px;
}