body {
  background-image: url(https://wallpaperaccess.com/full/3692584.jpg);
}

.topic
{
  text-align:center;
  font-size:40px;
  font-weight:600;
  color: #f4f5f5;	
}

.subtopic
{
  text-align:center;
  font-size:27px;
  font-weight:450;
  color: #f4f5f5;
}

.bigbox {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #f4f5f5dd;
  margin-top: 50px;
  max-width: 80%;
  min-width: 1140px;
}

.smallbox
{
  width:640px;
  height:600px;
  margin-left: auto;
  margin-right: auto;
}

.phone:link, .phone:visited {
  text-decoration: none;
  color: black;
}

.phone:hover {
  text-decoration: underline;
}

.phone:active {
  text-decoration: underline;
  color: red;
}

p.name
{
  font-size:30px;
  font-family:Times New Roman;
  color:#663399;
}

td
{
  padding:10px;
}

tr
{
  height:10px;
}
