h2
{
  font-family:Times New Roman;
  padding-left:50px;
  padding-top:30px;
}

table
{
  font-family:Times New Roman;
  font-size:20px;
}
 
td
{
  padding:15px;
}
  
input[type="text"]
{
  line-height:28px;
  width:370px;
}

input[type="password"]
{
  line-height:28px;
  width:370px;
}
   
input[type="number"]  
{
  line-height:28px;
  width:370px;
}
 
input[type="date"]
{
  line-height:28px;
  width:200px;
}
 
input[type="submit"]
{
  display:block;
  margin-left:300px;
  background-color:#708090;
  font-family:Quicksand;
  font-size:20px;
  adding-left:30px;
  padding-right:30px;
}
