body {
	background-image: url("../images/home-bg.jpeg");
	

}

.amaya {
	background-image: url("../images/amaya.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	display: block;
	min-height: 345px;

}

.slogan {
	width: 100%;
	text-align: center;
	color: #f4f5f5;
	font-size: 200%;
	display: inline-block;

}